<div class="container">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="toolbar-content">
        <app-header [totalBooks]="totalBooks"></app-header>

        <!-- Category Selector & Search -->
        <div class="toolbar-filters-wrapper">
          <div class="toolbar-filters">
            <ion-searchbar
              class="search-box"
              (ionInput)="onFilterGlobal($event)"
              placeholder="Search..."
            ></ion-searchbar>
            <app-category-selector
              (categoryChange)="onCategoryChange($event)"
            ></app-category-selector>
          </div>
        </div>

        <!-- Buttons -->
        <div class="toolbar-buttons-wrapper">
          <div class="toolbar-buttons">
            <ion-button color="primary" (click)="openNew()">
              <ion-icon slot="start" name="add-outline"></ion-icon>
              Add
            </ion-button>
            <ion-button
              *ngIf="selectedBooks.length > 0"
              color="danger"
              (click)="deleteSelectedBooks()"
            >
              <ion-icon slot="start" name="trash-outline"></ion-icon>
              Delete
            </ion-button>
          </div>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="content-wrapper">
    <div class="content">
      <div class="card">
        <!-- Show loader when loading -->
        <div *ngIf="loading" class="loader">
          <ion-spinner></ion-spinner>
        </div>

        <div *ngIf="!loading" class="p-table-wrapper">
          <div class="table-scroll">
            <ion-grid class="book-table">
              <ion-row class="header-row">
                <ion-col size="1">
                  <ion-checkbox
                    class="checkbox-col"
                    [(ngModel)]="selectAll"
                    (ionChange)="toggleSelectAll()"
                  ></ion-checkbox>
                </ion-col>
                <ion-col
                  size="5"
                  class="book-col"
                  style="display: block; text-align: center"
                  ><strong style="display: block; text-align: center"
                    >Book</strong
                  ></ion-col
                >
                <ion-col size="3" class="status-col" style="text-align: center"
                  ><strong (click)="sortByStatus()" style="cursor: pointer"
                    >Status<ion-icon
                      [name]="
                        sortOrder === 'asc'
                          ? 'arrow-up-outline'
                          : 'arrow-down-outline'
                      "
                    ></ion-icon></strong
                ></ion-col>
                <ion-col size="3" class="actions-col" style="text-align: center"
                  ><strong>Actions</strong></ion-col
                >
              </ion-row>

              <ion-row *ngFor="let book of tableBooks" class="table-row">
                <ion-col size="1" class="checkbox-col">
                  <ion-checkbox
                    [ngModel]="book.selected"
                    (ionChange)="onBookSelectionChange(book)"
                  ></ion-checkbox
                ></ion-col>
                <!-- Book Column -->
                <ion-col size="5" class="book-col">
                  <div class="book-details">
                    <strong>{{ book.title }}</strong>
                    <p>Author: {{ book.author_name?.[0] }}</p>
                    <p>Year: {{ book.first_publish_year ?? "N/A" }}</p>
                  </div>
                </ion-col>

                <!-- Status Column -->
                <ion-col size="3" style="text-align: center" class="status-col">
                  <ion-chip
                    [color]="
                      getStatusColor(book.inventoryStatus ?? 'Available')
                    "
                    (click)="toggleBookStatus(book)"
                  >
                    {{ book.inventoryStatus }}
                  </ion-chip>
                </ion-col>

                <!-- Actions Column -->
                <ion-col
                  size="3"
                  style="text-align: center"
                  class="actions-col"
                >
                  <ion-button color="primary" (click)="editBook(book)">
                    <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                  </ion-button>
                  <ion-button color="danger" (click)="deleteBook(book)">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>

              <!-- Empty State -->
              <ion-row *ngIf="tableBooks.length === 0">
                <ion-col size="12" class="empty-message"
                  >No books found.</ion-col
                >
              </ion-row>
            </ion-grid>
          </div>
        </div>

        <app-book-form
          [displayDialog]="displayDialog"
          [editDialog]="editDialog"
          [book]="selectedBook"
          (save)="saveBook($event)"
          (cancel)="onCancelDialog()"
        >
        </app-book-form>
      </div>
    </div>
    <div class="sidebar">
      <app-cat-chart
        [borrowedBooksByCategory]="borrowedBooksByCategory"
        style="margin-top: 20px"
      ></app-cat-chart>
    </div>
  </div>
</div>
